body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--other-bgc {
  background-color: #F5F4FA;
}
.section--hidden {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--whithout-padding-bottom {
    padding-bottom: 0;
  }
  .section--hidden {
    display: block;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-width: none;
  max-width: 480px;
}
.container__page-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .container__page-footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container__page-footer {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  line-height: 1.88;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 0;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  color: #2196F3;
  background-color: #FFFFFF;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}
.section__title--hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.logo__page-header {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (min-width: 1200px) {
  .logo__page-header {
    margin-right: 93px;
  }
}
.logo__page-footer {
  display: inline-block;
  margin-bottom: 20px;
  line-height: 1.15;
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: #FFFFFF;
}

.page-header {
  background-color: #FFFFFF;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ECECEC;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  color: currentColor;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link--current {
  color: #2196F3;
}
.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.contacts__page-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__page-header {
    display: block;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__page-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 305px;
  }
}
.contacts__page-footer {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767.98px) {
  .contacts__page-footer {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__page-footer {
    display: inline-block;
    margin-left: 0;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__page-footer {
    width: 231px;
    text-align: left;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}
.contacts__link--margin-right30 {
  margin-right: 30px;
}
.contacts__link--in-footer {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contacts__link--in-footer:not(:last-child) {
  margin-top: 0;
  margin-bottom: 9px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__envelope {
  width: 16px;
  height: 12px;
}

.contacts__smartphone {
  width: 10px;
  height: 16px;
}

.page-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  background-color: #2F303A;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/bg_mob.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/bg_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/bg_tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/bg_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/bg_desk.jpg);
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/hero/bg_desk@2x.jpg);
  }
}

.page-hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .page-hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.page-hero__btn {
  display: inline-block;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}

.features {
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
    margin: 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .features__item {
    margin: 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .features__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item {
    display: inline-block;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    display: inline-block;
    width: calc((100% - 60px) / 4);
  }
  .features__item:not(:first-child) {
    margin-left: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767.98px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.about-us {
  display: flex;
  margin-top: 50px;
}

.about-us__item {
  position: relative;
}
.about-us__item:not(:first-child) {
  margin-left: 30px;
}

.about-us__image {
  display: block;
}

.about-us__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-us__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    display: flex;
    margin-top: 50px;
  }
}

.our-team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .our-team__item {
    max-width: 354px;
  }
  .our-team__item:nth-child(2n) {
    margin-left: 30px;
  }
  .our-team__item:nth-child(1), .our-team__item:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__item {
    max-width: 270px;
  }
  .our-team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.our-team__photo {
  width: 100%;
}

.our-team__box {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team__position {
  text-align: center;
  font-weight: 400;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:not(:first-child) {
  margin-left: 10px;
}

.socials__link {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}
.socials__link--in-footer {
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--in-footer:hover, .socials__link--in-footer:focus {
  background-color: #2196F3;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767.98px) {
  .clients {
    margin: 15px -15px -15px -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients {
    margin: 15px -15px -15px -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
    margin-top: 50px;
    padding: 0;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 60px) / 6);
    height: 92px;
    margin: 0;
  }
  .clients__item:not(:first-child) {
    margin: 0 0 0 30px;
  }
}

.clients__link {
  padding: 13px 51px;
  cursor: pointer;
  color: #AFB1B8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 13px 32px;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;
  background-color: #2F303A;
}

.page-footer__socials {
  display: block;
}
@media screen and (max-width: 767.98px) {
  .page-footer__socials {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .page-footer__socials {
    display: inline-block;
    padding-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__socials {
    padding-top: 12px;
    margin-left: 70px;
  }
}

.page-footer__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .subscription {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    padding-top: 12px;
    margin-left: 93px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscription__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  padding: 15px 16px;
  margin: 0 0 20px 0;
  height: 50px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin: 0;
  }
}
.subscription__input:hover, .subscription__input:focus {
  color: #FFFFFF;
}

.subscription__btn {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px 29px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: 12px;
  }
}

.icon-send {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 767.98px) {
  .modal {
    min-width: 300px;
    min-height: 500px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: #2196F3;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__submit-btn {
  padding: 10px 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal__submit-btn:hover, .modal__submit-btn:focus {
  color: #FFFFFF;
  background-color: #188ce8;
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form-comment {
  margin-bottom: 20px;
}

.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.form-field__input {
  width: 100%;
  padding: 12px 12px 12px 42px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:focus, .form-field__input:hover, .form-field__input:focus-visible, .form-field__input:focus-within {
  border: 1px solid #2196F3;
}

.form-field__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  color: #000000;
}
.form-field__input:focus + .form-field__icon, .form-field__input:hover + .form-field__icon {
  color: #2196F3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__agreement-label {
  padding-left: 30px;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .form-field__agreement-label {
    font-size: 14px;
    line-height: 2;
  }
}

.form-field__checkbox {
  margin-bottom: 30px;
}

.form-field__checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-field__icon-check {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 5px;
  width: 16px;
  height: 15px;
  color: #FFFFFF;
  border: 2px solid #212121;
  border-radius: 2px;
}
.form-field__checkbox-input:checked ~ .form-field__icon-check {
  border: 2px solid transparent;
  background-image: url(../images/svg/check-icon.svg);
  background-origin: border-box;
}

.form-field__agreement-conditions {
  color: #2196F3;
}

.form-field__textarea {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
@media screen and (max-width: 767.98px) {
  .filter {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 391px) {
  .filter__item:nth-child(-n+4) {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .filter__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}
.filter__item:not(:first-child) {
  margin-left: 8px;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: #212121;
  background-color: #F5F4FA;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
  }
}

.portfolio-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 3);
  }
}

.card {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__thumb {
  display: block;
  height: 294px;
}

.card__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__description {
  display: block;
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  flex-grow: 1;
}

.card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.card__overlay {
  position: relative;
  overflow: hidden;
}

.card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
}
.card:hover .card__overlay-text {
  transform: translateY(0);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  transform: translatex(0);
}

.mobile-menu__close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: #000000;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  color: #2196F3;
}

.mobile-menu__item {
  font-weight: 500;
  color: #212121;
  margin-bottom: 32px;
}
.mobile-menu__item--left-border {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.175;
  color: inherit;
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}
.mobile-menu__link--current {
  color: #2196F3;
}

.mobile-menu__contacts {
  margin-top: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts-link {
  font-size: 24px;
  line-height: 1.1667;
  color: #757575;
}
.mobile-menu__contacts-link--accent-color {
  font-size: 34px;
  line-height: 1.176;
  color: #2196F3;
}
.mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
  color: #2196F3;
}

.mobile-menu__socials {
  display: flex;
  margin: -20px;
}

.mobile-menu__socials-link {
  font-size: 18px;
  line-height: 1.222;
  color: #2196F3;
  margin: 10px;
}
.mobile-menu__socials-link:hover, .mobile-menu__socials-link:focus {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */