.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include mq(mobile-only) {
    margin: 15px -15px -15px -15px;
  }

  @include mq(tablet-only) {
    margin: 15px -15px -15px -15px;
  }

  @include mq(desktop) {
    flex-wrap: nowrap;
    margin-top: 50px;
    padding: 0;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;

  @include mq(desktop) {
    width: calc((100% - 15px * 4) / 6);
    height: 92px;
    margin: 0;

    &:not(:first-child) {
      margin: 0 0 0 30px;
    }
  }
}

.clients__link {
  padding: 13px 51px;

  cursor: pointer;
  color: $svg-primary-color;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms $timig-function, color 250ms $timig-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  @include mq(desktop) {
    padding: 13px 32px;
  }
}
