.contacts {
  &__page-header {
    display: none;

    @include mq(tablet) {
      display: block;
      flex-wrap: wrap;
    }
    @include mq(desktop) {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      margin-left: 305px;
    }
  }

  &__page-footer {
    margin-left: auto;
    margin-right: auto;
    @include mq(mobile-only) {
      margin-bottom: 60px;
    }
    @include mq(tablet) {
      display: inline-block;
      margin-left: 0;
      margin-right: 165px;
      margin-bottom: 60px;
    }

    @include mq(desktop) {
      margin-bottom: 0;
      margin-right: 0;
      width: 231px;
      text-align: left;
    }
  }
}

.contacts__item {
  &:not(:last-child) {
    @include mq(tablet-only) {
      margin-bottom: 10px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.02em;

  color: $primary-text-color;

  transition: color 250ms $timig-function;

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--margin-right30 {
    margin-right: 30px;
  }

  &--in-footer {
    display: block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $text-footer-color;

    &:not(:last-child) {
      margin-top: 0;
      margin-bottom: 9px;
    }
  }
}

.contacts__icon {
  margin-right: 10px;

  fill: currentColor;
}

.contacts__envelope {
  width: 16px;
  height: 12px;
}

.contacts__smartphone {
  width: 10px;
  height: 16px;
}
