.features {
  @include mq(tablet) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  @include mq(desktop) {
    flex-wrap: nowrap;
    margin: 0;
  }
}

.features__item {
  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @include mq(tablet-only) {
    margin: 15px;
    display: inline-block;
    width: calc((100% - 15px * 4) / 2);
  }
  @include mq(desktop) {
    display: inline-block;
    width: calc((100% - 15px * 4) / 4);

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondary-text-color;

  @include mq(mobile-only) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $third-bg-color;
  border-radius: 4px;
}
