.our-team {
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include mq(desktop) {
    display: flex;
  }
}

.our-team__item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 450px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-bg-color;

  @include mq(mobile-only) {
    margin-bottom: 30px;
  }

  @include mq(tablet-only) {
    max-width: 354px;

    &:nth-child(2n) {
      margin-left: 30px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 30px;
    }
  }

  @include mq(desktop) {
    max-width: 270px;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.our-team__photo {
  width: 100%;
}

.our-team__box {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}

.our-team__position {
  text-align: center;
  font-weight: 400;

  margin-bottom: 16px;
}
