.page-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;

  background-color: $secondary-bg-color;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero/bg_mob.jpg);

  @include mq(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/bg_mob@2x.jpg);
  }

  @include mq(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/bg_tab.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero/bg_tab@2x.jpg);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/studio/hero/bg_desk.jpg);
    @include mq(retina) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/studio/hero/bg_desk@2x.jpg);
    }
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.page-hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $primary-bg-color;

  @include mq(desktop) {
    max-width: 696px;

    font-size: 44px;
    line-height: 1.36;
  }
}

.page-hero__btn {
  display: inline-block;

  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
}
