.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 100%;

  background-color: $secondary-bg-color;

  @include mq(desktop) {
    text-align: left;
  }
}

.page-footer__socials {
  display: block;

  @include mq(mobile-only) {
    margin-bottom: 60px;
  }

  @include mq(tablet-only) {
    display: inline-block;
    padding-top: 5px;
  }

  @include mq(desktop) {
    margin-left: 70px;
  }
}

.page-footer__subtitle {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-bg-color;
}
