.subscription {
  @include mq(tablet-only) {
    margin-top: 60px;
    width: 450px;
  }

  @include mq(tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(desktop) {
    margin-left: 93px;
    margin-right: 0;
  }
}

.subscription__form {
  @include mq(not-desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include mq(desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $primary-bg-color;

  padding: 15px 16px;
  margin: 0 0 20px 0;
  height: 50px;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: transparent;

  @include mq(desktop) {
    min-width: 358px;
    margin: 0;
  }

  &:hover,
  &:focus {
    color: $primary-bg-color;
  }
}

.subscription__btn {
  display: flex;
  justify-content: center;

  position: relative;
  padding: 10px 29px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;

  @include mq(desktop) {
    margin-left: 12px;
  }
}

.icon-send {
  margin-left: 10px;
}
