$primary-bg-color: #FFFFFF;
$secondary-bg-color: #2F303A;
$third-bg-color: #F5F4FA;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196F3;
$overlay-accent-color: rgba(33, 150, 243, 0.9);
$header-border-color: #ECECEC;
$card-border-color: #EEEEEE;
$primary-black-color: #000000;
$text-footer-color: rgba(255, 255, 255, 0.6);
$socials-bg-footer-color: rgba(255, 255, 255, 0.1);
$svg-primary-color: #AFB1B8;
$input-border-color: rgba(33, 33, 33, 0.2);

$timig-function: cubic-bezier(0.4, 0, 0.2, 1);
